# workflow enabled
name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: DEBUG - list files
        run: |
          pwd
          ls -la

      - name: Build Docker image
        run: docker build -t devops-cicd-app .
